{% extends "base.html" %}
{% block content %}

<h1>Audio Feature Extraction</h1>
<a href="{{ url_for('main.get_label_mfccs') }}">go to label selector</a>

    <div class="fe-content">
    <div class="text-box">
       
    </div>

    <div class="feature-explorer">
        <div class="fe-control">
            <div class="fe-form-filters">
                <form method="POST" id="filter-data-form">
                    {{ form.csrf_token }}
                    <div class="fe-form-dropdowns">
                       
                        <div class="form-dropdown" id="sex">
                            sex<br>
                            {{ form.sex }}
                        </div>    

                        <div  id="statement">
                            statement<br>
                            {{ form.statement }}
                        </div> 


                        <div  id="intensity">
                            intensity<br>
                            {{ form.intensity }}
                        </div> 
                       
                    
                    </div>
                    <div class="fe-form-tall">
                        <p id="emotion">
                            emotion<br>
                            {{ form.emotion }}
                        </p>
                        <p id="num_mels">
                            mel count<br>
                            {% for subfield in form.num_mels %}
                                        
                                {{subfield}}
                                {{subfield.label}}<br>
                                        
                            {% endfor %}
                        </p>

                        <p id="num_mfcc">
                            mfcc count<br>
                            {% for subfield in form.num_mfcc %}
                                        
                                {{subfield}}
                                {{subfield.label}}<br>
                                        
                            {% endfor %}
                        </p>

                    </div>    
                       
                    <p>{{ form.submit }}</p>

                </form>
            </div>
            
            <div class="fe-record-nav">
                
               
                
                <form method="POST" id="next-button" >
                   
                     
                    {{ next_button.next }} {{ record_text}}  
                    
                </form>

                <audio id="audio-player" controls src= "{{ url_for('main.get_audio_blob') }}"></audio> 
                
            </div>
            <div class="text-box">
                Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. Example text. 
            </div>
        </div>
        
        <div class="view-audio-features">
            <img id="plot" src="{{ url_for('main.view_audio_features') }}" alt="Matplotlib Plot">
           
        </div>   
    </div>
   
</div>

{% endblock %}